[submodule "StreamDeckDeeJ-Arduino"]
	path = StreamDeckDeeJ-Arduino
	url = https://github.com/lachaux-remi/StreamDeckDeeJ-Arduino
[submodule "StreamDeckDeeJ-App"]
	path = StreamDeckDeeJ-App
	url = https://github.com/lachaux-remi/StreamDeckDeeJ-App
[submodule "StreamDeckDeeJ-SignalRGB"]
	path = StreamDeckDeeJ-SignalRGB
	url = https://github.com/lachaux-remi/StreamDeckDeeJ-SignalRGB